<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Allow Path Info (e.g. details.php/slug)
    AcceptPathInfo On
</IfModule>

# If AcceptPathInfo is not available via mod_rewrite, try globally
AcceptPathInfo On
